SimuladorRedesIP/WCFexample/Callback-UI/BeerClient/Web References/localhost/mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/Imports">
      <xsd:import schemaLocation="http://localhost:8001/BeerInventory/mex?xsd=xsd0" namespace="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/" />
      <xsd:import schemaLocation="http://localhost:8001/BeerInventory/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BeerInventoryService_JoinTheParty_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinTheParty" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_JoinTheParty_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinThePartyResponse" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_EstablecerPosicion_InputMessage">
    <wsdl:part name="parameters" element="tns:EstablecerPosicion" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_EstablecerPosicion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstablecerPosicionResponse" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_IniciarBola_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarBola" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_IniciarBola_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarBolaResponse" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_MakeBeerRun_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeBeerRun" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_DrinkBeer_InputMessage">
    <wsdl:part name="parameters" element="tns:DrinkBeer" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_LeaveTheParty_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveTheParty" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_NotifyGuestJoinedParty_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyGuestJoinedParty" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_NotifyCambioPosicion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyCambioPosicion" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_NotifyBeerInventoryChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyBeerInventoryChanged" />
  </wsdl:message>
  <wsdl:message name="BeerInventoryService_NotifyGuestLeftParty_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyGuestLeftParty" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="BeerInventoryService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinTheParty">
      <wsdl:input wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/JoinTheParty" message="tns:BeerInventoryService_JoinTheParty_InputMessage" />
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/JoinThePartyResponse" message="tns:BeerInventoryService_JoinTheParty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EstablecerPosicion">
      <wsdl:input wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/EstablecerPosicion" message="tns:BeerInventoryService_EstablecerPosicion_InputMessage" />
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/EstablecerPosicionResponse" message="tns:BeerInventoryService_EstablecerPosicion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IniciarBola">
      <wsdl:input wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/IniciarBola" message="tns:BeerInventoryService_IniciarBola_InputMessage" />
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/IniciarBolaResponse" message="tns:BeerInventoryService_IniciarBola_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="MakeBeerRun">
      <wsdl:input wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/MakeBeerRun" message="tns:BeerInventoryService_MakeBeerRun_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DrinkBeer">
      <wsdl:input wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/DrinkBeer" message="tns:BeerInventoryService_DrinkBeer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveTheParty">
      <wsdl:input wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/LeaveTheParty" message="tns:BeerInventoryService_LeaveTheParty_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyGuestJoinedParty">
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/NotifyGuestJoinedParty" message="tns:BeerInventoryService_NotifyGuestJoinedParty_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyCambioPosicion">
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/NotifyCambioPosicion" message="tns:BeerInventoryService_NotifyCambioPosicion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyBeerInventoryChanged">
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/NotifyBeerInventoryChanged" message="tns:BeerInventoryService_NotifyBeerInventoryChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyGuestLeftParty">
      <wsdl:output wsaw:Action="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/BeerInventoryService/NotifyGuestLeftParty" message="tns:BeerInventoryService_NotifyGuestLeftParty_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>