SimuladorRedesIP/WCFexample/Callback-UI/BeerClient/Web References/localhost/mex0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/" elementFormDefault="qualified" targetNamespace="http://jeffbarnes.net/wcf/samples/client_callback/BeerInventoryService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JoinTheParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinThePartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinThePartyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstablecerPosicion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstablecerPosicionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarBola">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarBolaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBeerRun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfBeers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrinkBeer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveTheParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGuestJoinedParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCambioPosicion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyBeerInventoryChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfBeers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGuestLeftParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>